@model IEnumerable<NewGallery.Models.Artist>

@{
    Layout = "~/Views/Shared/_LayoutUserMode.cshtml";
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Customer.css")" rel="stylesheet" type="text/css" />
<style>
    #more {
        display: none;
    }
</style>
<h2>Artist</h2>

<style>
    

    #searcher {
        background-color: #20c997;
    }

    th {
        padding: 5px;
        text-align: left;
    }

    td {
        padding: 5px;
        text-align: left;
    }
</style>


<table style="width:100%">
    <tr>
        <th id="searcher">
            <form action="/Artists/Search" method="get">
                <span id="more">
                    Enter Full name: to search<br>
                    <input type="text" name="name">

                    <br>
                    <br>
                    Enter Favorite Style to search:<br>
                    <input type="text" name="favstyle">

                    <br>
                    <br>
                    Enter Rate to serch:<br>
                    <input type="text" name="rate">

                    <br>
                    <br>
                    <br /><br />
                    <input type="submit" value="Search">
                </span>
            </form>
        </th>
        <th colspan="2">
            <button onclick="myFunction()" id="myBtn">Advenced Search</button>
            <input type="text" id="textsearch" placeholder="For quick Artist name filter...">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ArtistName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FavoriteStyle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtistName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FavoriteStyle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ArtistID }) 
                        </td>
                    </tr>
                }

            </table>

        </th>
    </tr>
</table>


<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    $("#textsearch").on("keyup", function () {

        var textenter = $(this).val();
        $("table tr").each(function (res) {
            if (res !== 0) {
                var id = $(this).find("td:nth-child(1)").text();
                if (id.indexOf(textenter) !== 0 && id.toLowerCase().indexOf(textenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>
<script>
    function myFunction() {

        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (moreText.style.display === "inline") {
            btnText.innerHTML = "Advenced Search";
            moreText.style.display = "none";
        }
        else {

            btnText.innerHTML = "Hide Advenced search";
            moreText.style.display = "inline";
        }
    }
</script>